{% extends 'core/base.html' %}

{% load static %}
{% load new_filters %}

{% block banner %}
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h4>Las comidas más ricas de todo Nicolás Romero</h4>
                <h2 style="font-size: 40px;">Restaurante Mexicano</h2>
                <p>Sin importar que se te antoje, Sasor siempre tendrá una opción para tí.</p>
                <div class="primary-button">
                    <!-- A continuación, hacemos uso de enlaces tipo ancla en conjunto con el template tag {°|° url °|°}: -->
                    <a href="{% url 'alimentos_app:MenuView' %}" data-id="book-table">Ordenar Ahora</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<!-- CONTACTO TELÉFONO Y ENLACE ANCLA A LA SECCIÓN RESEVACIÓN. -->
<section class="cook-delecious" style="background-color: #f9fbff;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <div class="first-image">
                    <img src="{% static 'core/img/cook_01.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="cook-content">
                    <h4>Para tus eventos o reuniones</h4>
                    <div class="contact-content">
                        <span>Reserva con nosotros</span>
                    </div>
                    <span>:)</span>
                    <div class="primary-white-button">
                        <!-- A continuación, hacemos uso de enlaces "TIPO ANCLA" en conjunto con el template tag {°|° url °|°}: -->
                        <a href="{% url 'reservacion_app:MesaReservacion' %}#book-table" data-id="book-table">Reservar Ahora</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="second-image">
                    <img src="{% static 'core/img/cook_02.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SERVICIOS. -->
<section class="services" style="padding: 100px 0;">
    <div class="container">
        <div id="myquery" class="row" style="display:flex; justify-content:space-between;">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <a href="{% url 'alimentos_app:MenuView' %}#desayuno">
                    <img src="{% static 'core/img/cook_breakfast.png' %}" alt="Breakfast">
                    <h4>Desayuno</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <a href="{% url 'alimentos_app:MenuView' %}#comida">
                    <img src="{% static 'core/img/cook_lunch.png' %}" alt="Lunch">
                    <h4>Comida</h4>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <a href="{% url 'alimentos_app:MenuView' %}#postres">
                    <img src="{% static 'core/img/drinks.png' %}" alt="Desserts">
                    <h4>Bebidas</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block JSpagsHijos %}
<!-- 
    NOTA: NO SE PUEDE REALIZAR UNA SOLICITUDO "REQUEST" MEDIANTE "JS" Y "DJANGO" AL MISMO TIEMPO. Es decir, no pueden correr dos procesos
    que esten haciendo solicitud "REQUEST" al mismo tiempo, ya que uno podría sobrescribir al otro y podríamos terminar con muchos errores.

    NOTA 2: NO NECESARIAMENTE LOS ERRORES MOSTRADOS EN "CONSOLA" EN EL ICONITO "XHR", CUANDO MANDAMOS DATOS CON "fetch()" y "JS" SON NECESARIAMENTE
    DE "JS". PUEDEN SER ERRORES DE PYTHON PERSE EN LA LÓGICA DE LAS "VIEWS".
-->
<script type="text/javascript">
    // Para Firefox:
    // $(document).ready(function() {
    //     var previous_page = document.referrer
    //     console.log("PREVIOUS PAGE (INICIO): ", previous_page);
    //     // Una vez se manda el pedido por correo, el sitio vuelve a cargar, por lo que, la pág previa sería "inicio" en lugar del "cuestionario":
    //     if (previous_page == "http://127.0.0.1:8000/"){  // https://danielrosasperez.pythonanywhere.com/
    //         window.onpopstate = function() {window.location.reload();}; history.pushState({}, '', '');
    //     }
    // });
</script>
<script type="text/javascript" async>
$(document).ready(function () {
    todo_ready();
})

function todo_ready(){  // Si venimos de dar click en el botón del formulario para realizar nuestro pedido, procedemos a llamar a la función
    // que crea el pedido en la BD:
    var previous_page = document.referrer
    console.log("PREVIOUS PAGE (ALERTS): ", previous_page);
    var url_pedido_cuestionario = "{% url 'ordenes_y_pedidos_app:CuestionarioPedido' %}"
    if (previous_page.search(url_pedido_cuestionario) != -1 && localStorage.getItem("Cliente_id")) { // "-1" significa que la cadena tal cual está escrita dentro del método 
    // search(), se encuentra dentro de "previous_page".
        ejecutar_subfunciones();
    }
}

function ejecutar_subfunciones(){
    var operacion_pedido = CrearPedido();  // Esta función se encuentra declarada dentro de los tags "script" en "inicio.html".
    operacion_pedido.then(resultado => {
        console.log("RESULTADO: ",resultado)
        if (resultado == false) {
            var mensaje_alerta = "¡Lamentamos informarle que SU ORDEN NO HA SIDO REGISTRADA. Esto se debe a que el correo del Sasor no " 
            mensaje_alerta += "está funcionando de forma correcta. Por favor, REPORTELO, se lo agradeceremos mucho :)."
            alert(mensaje_alerta)
            window.location.replace("{% url 'contacto_app:Contacto' %}")
        } else if (resultado == "Diccionario Items Vacío.") {
            window.location.replace("{% url 'core_app:Home' %}")
        } 
        else {
            var mensaje_alerta = "¡SU ORDEN HA SIDO REGISTRADA EXITOSAMENTE! En breve recibirá un correo con los datos de la misma. Gracias :)."
            mensaje_alerta += "\nA continuación, la página se refrescará por sí sola, por favor, espere."
            alert(mensaje_alerta);
            function sleep(delay) {  // Para dormir de forma manual y esperar a que la orden se realice correctamente.
                var start = new Date().getTime();
                while (new Date().getTime() < start + delay);
            }
            sleep(2000); // Dormimos por 2s.
            window.location.replace("{% url 'core_app:Home' %}")
        }
    });
    //localStorage.clear();  // Terminando de mandar la información a la BD, se limpia el "almacenamiento local".
    history.pushState({}, '');
    //localStorage.setItem('EVITAR_REGRESO_A_CUESTIONARIO', 1);
}

function CrearPedido(){
    // Creating a token to send the "POST" request:
    console.log("FUNCIONANDO!!")
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    // Recuperamos la información del pedido del cliente, antes de borrarlos en el paso posterior:
    //localStorage.removeItem("Cantidad_Item");  // Antes de comenzar con cualquier otro procedimiento, borramos este comodín, el cual nos dice la
    // cantidad de items que hay en la canasta.
    var elementos_canasta = [];
    for (var i = 0; i < localStorage.length; i++){
        var key = localStorage.key(i)
        elementos_canasta.push(JSON.parse(localStorage.getItem(key)));
        console.log(JSON.parse(localStorage.getItem(key)));
    }

    localStorage.clear();  // Una vez rescatamos la información del pedido en la lista "elementos_canasta", procedemos a vaciar el "AL".
    localStorage.setItem('EVITAR_REGRESO_A_CUESTIONARIO', 1);  // Agregamos una bandera para redireccionar a otra pestaña en caso de que se intente
    // regresar al cuestionario.
    // Mandamos la información del pedido del cliente a la url deseada:
    var url_pedidos = "{% url 'ordenes_y_pedidos_app:DatosOrden' %}"  // URL del cuestionario de pedido.

    return fetch(url_pedidos, {
        method: 'POST',  // SI VAMOS A MANDAR INFORMACIÓN DE ESTA MANERA CON JS. SIEMPORE DEBEMOS USAR "POST", DE OTRO FORMA, NO SE ENVIARÁN
        // LOS DATOS O INFORMACIÓN.
        headers: {
            'Content-type': 'application/json',
            'X-CSRFToken': csrftoken,
        },
        body: JSON.stringify({"Informacion_Pedido": elementos_canasta})
    })
    .then(response => response.json())
    .then(datos => {
        if (datos.bandera == "there was an error") {
            return false; // "El correo de sasor no está funcionando, es decir, probablemente google prohibio el accesso de apps
            // poco seguras a nuestro correo".
        } else if (datos.bandera == "el diccionario items no tiene nada"){
            return "Diccionario Items Vacío."
        }
        else {
            return true;
        }
    });
};
</script>

<!-- <script>
    window.onpopstate = function() {if(localStorage.length == 0){window.location.replace("{% url 'alimentos_app:MenuView' %}")};}; history.pushState({}, '');;
</script> -->

<!-- <script type="text/javascript" async>
    var previous_page = document.referrer
    console.log("PREVIOUS PAGE: ", previous_page);
    if (previous_page == "http://127.0.0.1:8000/pedido/cuestionario_pedido/"){
        console.log("CONDICIÓN CUMPLIDA");
        (function (global) {
        if(typeof (global) === "undefined") {
            throw new Error("window is undefined");
        }

        var _hash = "!";
        var noBackPlease = function () {
            global.location.href += "#";

            // Making sure we have the fruit available for juice (^__^)
            global.setTimeout(function () {
                global.location.href += "!";
            }, 50);
        };

        global.onhashchange = function () {
            if (global.location.hash !== _hash) {
                global.location.hash = _hash;
            }
        };

        global.onload = function () {
            noBackPlease();

            // Disables backspace on page except on input fields and textarea..
            document.body.onkeydown = function (e) {
                var elm = e.target.nodeName.toLowerCase();
                if (e.which === 8 && (elm !== 'input' && elm  !== 'textarea')) {
                    e.preventDefault();
                }
                // Stopping the event bubbling up the DOM tree...
                e.stopPropagation();
            };
        }
        })(window);
    }
</script> -->
{% endblock JSpagsHijos %}