{% extends 'core/base.html' %}

{% block content %}
<style>
    h2,h4{
        text-align: justify;
        margin-bottom: 15px;
    }
    p{
        text-align: center;
        font-size: 18px;
        color:steelblue;
        font-weight: bold;
    }
</style>

<div style="padding: 15px;">
    <h2>Ya no hay reservaciones disponibles en la <b style="color:red;">Hora</b> deseada.</h2>
    <h4>A continuación, se muestra una lista de los horarios disponibles para la fecha seleccionada ({{dia_reservacion}}):</h4>

    <div style="margin: 25px 0;">
        {% for horario in disponibilidad %}
            <p>{{horario}}</p>
        {% endfor %}
    </div>
    <h4>Por favor, observa con atención en que horario hay reservaciones disponibles.</h4>
    <h4>Una vez hayas decidido que horario es el mejor para ti, por favor, regresa a la 
        <a href="{% url 'reservacion_app:MesaReservacion' %}" style="color:red;">página previa</a> y selecciona dicho horario.
    </h4>
</div>
{% endblock %}