{% extends 'core/base.html' %}

{% load new_filters %}

{% block content %}
<main role="main">
    <div id="comprar_alimento_bebida" class="container">
        <div class="row mt-3 mb-5">
        <div id="contenido_orden" class="mx-auto mb-5">
            <h3 style="margin: 3% 0 3% 0; font-family: 'Monotype Corsiva'; color:crimson; text-align: center;">
                <b>Nota</b>: El alimento se paga una vez llegues al establecimiento, o en su defecto, cuando estemos en tu domicilio.
            </h3>
            <!-- <p style="font-size: 28px; color:slateblue; font-family: Monotype Corsiva; margin-top: 3%;">Hola, estas ordenando: "{{Alimento.Nombre}}"</p>
            <p style="font-size: 28px; color:salmon; font-family: Monotype Corsiva; margin: 3% 0;">Recuerda que su precio es de: $"{{Alimento.Precio|replace_commas}}"</p> -->
            <h3 class="mb-4" style="text-align: justify; font-family: 'Cambria Math';  margin-top: 3%;">
                <b>Por favor, rellena de forma correcta el siguiente formulario para finalizar con tu pedido, de lo contrario, este no será
                    registrado:</b>
            </h3>
            {% if form.errors %} <!-- Por algúna razón, CSS no esta respondiendo a este elemento 'p' dentro del "template tag". Por eso optamos
            por hacer uso de la etiqueta "style" directamente en el html. -->
            <div style="text-align: justify;">
                <p style="font-size:16px; color:red; margin-top: 3%">Verifique que los datos ingresados en el formulario sean correctos.</p>
            </div>
            {% endif %}
            <form id="form_orden_comida" method="POST">{% csrf_token %}
                    {{ form.as_p }}
                <div class="text-center">
                    <p><input type="submit" class="btn btn-primary btn-block" value="Realizar Pedido"></p>
                </div>
            </form>
        </div>
        </div>
    </div>
</main>
{% endblock %}

<!-- PONEMOS A "JS" AQUÍ, DADO QUE NO QUEREMOS SOBRESCRIBIR EL "JS" POR DEFECTO DE LA PÁGINA BASE. DE ESTA FORMA INCLUIMOS ESTE "JS" MÁS EL 
DE LA PÁGINA BASE: -->
{% block JSpagsHijos %}
<script>
    document.ready = document.getElementById("id_Status").value = "sí";  // Por preacución, en caso de que se recargue el formulario cuando 
    // Status = "No" (recordemos que value = "no"), y este tenga errores, evitamos el bug de que nos pida la dirección estando Status = "No".
</script>

<script>
    // Recuperamos el elemento "select" y le añadimos el atributo "onclick" igualado a "myFunction()". De esta forma, podremos llamar a dicha
    // función cada que realicemos un click sobre el elemento "select", cuyo id = "id_Status". Lo mismo haremos con el evento "onkeydown":
    // document.getElementById("id_Status").setAttribute("onclick", "myFunction()")
    // document.getElementById("id_Status").setAttribute("onkeydown", "myFunction()")
    document.getElementById("id_Status").addEventListener("change", myFunction, false)  // El evento se produce cuando el contenido de algún
    // elemento del cuestionario ha cambiado (<input>, <select> and <textarea>). Funciona tanto para dispositivos moviles, como de escritorio:

    // MÁS INFO EN: https://www.w3schools.com/jsref/dom_obj_event.asp

    // Hacemos de forma directa al "textarea" del campo "Domicilio", requerido (dado que por default, pusimos el campo "Para_Llevar" en "sí"):
    document.getElementById("id_Domicilio").setAttribute("required", "true")

    // Dependiendo de si seleccionamos o no el valor "sí" en "select", cada que hagamos click desaparecerá o aparecerá el campo "Domicilio", 
    // incluido su "etiqueta" y el "textarea":
    function myFunction(){
        var status_boton = document.getElementById("id_Status")
        var elemento_domicilio = document.getElementsByTagName('form')[0].getElementsByTagName('p')[2]
        var texto_domicilio = document.getElementById("id_Domicilio")
        if (status_boton.value === "sí"){
            elemento_domicilio.style.display = "block";
            texto_domicilio.setAttribute("required", "true");
        } else {
            elemento_domicilio.style.display = "none";
            texto_domicilio.removeAttribute("required");
        }
    }
</script>

<script async>
    if (localStorage.getItem("EVITAR_REGRESO_A_CUESTIONARIO") || localStorage.length == 0){
        window.location.replace("{% url 'core_app:Home' %}");
    }
</script>

<script>
    document.getElementsByClassName("btn-primary")[0].setAttribute("onclick", "Datos_Cliente()");

    function Datos_Cliente(){
        // A pesar de que se guardarán los datos cada que se haga click sobre el botón "Realizar Pedido", estos se sobrescribiran
        // hasta el último click. Es decir, nos quedaremos con los datos correctos, los cuales fueron validados por el formulario.
        let Nombre = document.getElementById("id_Nombre").value;
        let Email = document.getElementById("id_Email").value;
        localStorage.setItem("Cliente_id", JSON.stringify({"Nombre": Nombre, "Email": Email}));
    }
</script>

<script>
     $(document).ready(function() {
        // De esta forma, evitamos que el usuario pase directamente a la canasta y por ende, se le redirige al menú.
        window.onpopstate = function() {window.location.replace("{% url 'alimentos_app:MenuView' %}");}; history.pushState({}, '');;
     });
</script>

<script>
    // Para evitar que el cliente pueda pegar su correo original en la verificación:
    window.onload = function() {
    var myInput = document.getElementById('id_EmailVerificacion');
    myInput.onpaste = function(e) {
            e.preventDefault();
            alert("¡Esta acción está prohibida, debe insertar la validación del correo de forma manual!");
        }
    };
</script>
{% endblock JSpagsHijos %}